
<div ng-controller="${EntityName}Controller as ${EntityName}">
#set($d = "$")
<h2>Creer :${EntityName}</h2>
<h3>aller a: <input type="text" /></h3> 
<hr/>



<form method="POST" ng-submit="${EntityName}.new()" name="Creation"  class="CreationLogs">
	#foreach($att in $Attributes)
		#if(($att)&& !($att.get(0).equals("id")))
		 	#if(!($att.get(1).equals("Entity"))&& !($att.get(2).equals("true")))
		 	
		 		#set($sub = $att.get(0).length() - 2)
				#if($sub > 0 && $att.get(0).substring($sub).equals("Id"))
				<div class="itemEdit">${att.get(0)} : <select class="selectCreate" ng-model="${EntityName}.create${EntityName}Input.${att.get(0)}" ng-options="option.id as option.Nom for option in ${EntityName}.Externe.${att.get(0)}">

					</select></div>	 
				#else
					<div class="itemEdit">${att.get(0)}: <input type="text" ng-model="${EntityName}.create${EntityName}Input.${att.get(0)}" name="createVoitureInput" required/></div>#end
				 
			#end
		#end
		<div class="resetFloat"></div>
	#end
	
	<input type="submit" class="create" value="Creer ${EntityName}"/>	
	<input type="button" value="Back" ng-click="${EntityName}.Redirect('listView')"/>
</form>
</div>