<div ng-controller="${EntityName}Controller as ${EntityName}">
#set($d = "$")
<h2>Edit :${EntityName}</h2>
<h3>aller a: <input type="text" /></h3> 
<hr/>

<div>
</div>
<h3>Liste d'attributs</h3>

details: <input type="button" id="displayButton" value="Afficher" ng-click="${EntityName}.switch('displayTable','displayButton')">
<div id="displayTable">
    <label ng-repeat="attributesSelected in ${EntityName}.selectionAll">
        <input type="checkbox" checklist-model="${EntityName}.selection.selectionAll" checklist-value="attributesSelected" ng-click="${EntityName}.toggleSelection('attributesSelected')" > {{attributesSelected}}
    <br></label>
 <div>
        <button ng-click="${EntityName}.checkAll()" style="margin-right: 10px">Check all</button>
        <button ng-click="${EntityName}.uncheckAll()" style="margin-right: 10px">Uncheck all</button>
</div>
</div>
	<div id="displayEdit">
	
	#foreach($att in $Attributes)
		#if($att.get(0).equals("id"))
		<div class="itemEdit">${att.get(0)} :<br/>{{${EntityName}.active}}</div>
		#else
			#if($att && !$att.get(1).equals("Entity"))
			#set($sub = $att.get(0).length() - 2)
				#if($sub > 0 && $att.get(0).substring($sub).equals("Id"))
				<div class="itemEdit" ng-if="${EntityName}.showFrom('${att.get(0)}')">${att.get(0)} : <select class="itemEdit"  ng-model="${EntityName}.${EntityName}Active.${att.get(0)}" ng-options="option.id as option.Nom for option in ${EntityName}.Externe.${att.get(0)}">

					</select></div>	 
				#else
					<div class="itemEdit" ng-if="${EntityName}.showFrom('${att.get(0)}')">${att.get(0)} : <input class="itemEdit" type="text"  ng-model="${EntityName}.${EntityName}Active.${att.get(0)}"  value="#if($att.get(1).equals("Entity"))FUTUR SELECT#else {{${EntityName}.${EntityName}Active.${att.get(0)}}}#end"/></div>
				#end
			#else
				#if($att)
					<div class="itemEdit" ng-if="${EntityName}.showFrom('${att.get(0)}')">${att.get(0)} : <input class="itemEdit" type="button" ng-click="${EntityName}.goInto('${att.get(0)}/listView')" value="open"/></div>
				#end
			#end
		#end
		<div class="resetFloat"></div>
	#end
	</div>

<input type="button" value="Back" ng-click="${EntityName}.Redirect('listView')"/>
<input type="button" value="Save" ng-click="${EntityName}.Save()"/>

</div>