<div ng-controller="${EntityName}Controller as ${EntityName}">
#set($d = "$")
<div>
<h2>${EntityName}</h2> 
<h3>aller a: <input type="text" /></h3> 
<hr/>
</div>
<h3>Liste d'attributs</h3>

details: <input type="button" id="displayButton" value="Afficher" ng-click="${EntityName}.switch('displayTable','displayButton')">
<div id="displayTable">
    <label ng-repeat="attributesSelected in ${EntityName}.selectionAll">
        <input type="checkbox" checklist-model="${EntityName}.selection.selectionAll" checklist-value="attributesSelected" ng-click="${EntityName}.toggleSelection('attributesSelected')" > {{attributesSelected}}
    <br></label>
 <div>
        <button ng-click="${EntityName}.checkAll()" style="margin-right: 10px">Check all</button>
        <button ng-click="${EntityName}.uncheckAll()" style="margin-right: 10px">Uncheck all</button>
</div>
</div>


#set($sub = $EntityName.length() - 3)
#if($sub > 0 && $EntityName.substring($sub).equals("Agr"))


<div ng-repeat="item in ${EntityName}.agregation.${EntityName}">
<div ng-if="${EntityName}.showFrom('{item.Nom}')">{{item.Nom}} :{{${d}index}} <input type="text" ng-model = "${EntityName}.agregation.data[${d}index]"/>
</div>
</div>
<div ng-if="${EntityName}.showFrom('{item.Nom}')">
<input type="button" ng-click="${EntityName}.SaveAgr()" value = "save"/>
{{$EntityName.saving}}
</div>


#else

<div class="displayList">
	<div>
		#foreach($att in $Attributes)
			#if($att)
			#set($idAtt = $foreach.count)
			<div ng-if="${EntityName}.showFrom('${att.get(0)}')" class="title">${att.get(0)}</div>
			#end 
		#end
	</div>
	<div class="resetFloat" ng-repeat="item in ${EntityName}.${EntityName}Table | orderBy : 'id'" ng-if="item.id>=0" >
	<div class="lineItem">
	#foreach($att in $Attributes)
		#if($att)
		#set($idAtt = $foreach.count)
		#set($sub = $att.get(0).length() - 3)
		#if($sub > 0 && $att.get(0).substring($sub).equals("Agr"))
		#set($data = $att.get(0).substring(0,$sub))
		
		<div class="item" ng-click="${EntityName}.edit(item.id+'/${att.get(0)}/listView')" ng-if="${EntityName}.showFrom('${att.get(0)}')">
			<input type="button" value="show List">
			</div>
		#else
		<div class="item" ng-click="${EntityName}.edit(item.id+'/Edit')" ng-if="${EntityName}.showFrom('${att.get(0)}')">
		#set($sub = $att.get(0).length() - 2)
				#if($sub > 0 && $att.get(0).substring($sub).equals("Id"))
				#set($data = $att.get(0).substring(0,$sub))
				{{${EntityName}.display${data}[item.id]}}		 
				#else

				#if($att.get(1).equals("Entity"))ENTITY#else{{item.${att.get(0)}}}#end
				#end
				</div>
		#end
		
		#end
	#end
	<div class="deleteButton"><input  type="button" value="X" ng-click="${EntityName}.delete(item.id)"/></div>
	</div>	
	</div>
</div>
#end
<div class="resetFloat">
<input type="button" value="new" ng-click="${EntityName}.Redirect('createView')"/>
<input type="button" value="new Vide" ng-click="${EntityName}.new()"/>
</div>
</div>